$borderColour: rgba(48, 48, 48, 0.3);

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.1rem;

  scroll-behavior: smooth;
}

/* Responsive image sizes */
main img {
  width: 100%;
  height: auto;
}

/* Pull grid placement out separately */
body {
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header header"
    "sidebar main offbar"
    "footer footer footer"
    ;

  > header {
    grid-area: header;
  }
  > footer {
    grid-area: footer;
  }
  > aside {

    img {
      width: 100%;
      height: auto;
    }

    &.left {
      grid-area: sidebar;
      padding: 1em 0 1em 1em;
    }
    &.right {
      grid-area: offbar;
      padding: 1em 1em 1em 0;
    }

  }
}

body {
  background-color: #ccc;

  width: 100vw;
  height: 100vh;

  overflow-x: hidden; /* don't spill on account of scrollbar */

  > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;

    border-bottom: solid $borderColour 1px;
    background-color: #333;
    color: white;

    line-height: 40px;

    > nav,
    > div {
      display: inline-block;
      font-size: 1em;
      font-variant: small-caps;
      padding: 0;
    }

    > nav {
      border-left: solid $borderColour 1px;

      input[type=checkbox] { display: none; }
    }

    /* Main menu */
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }

        a {
          margin: 0;
          padding: 0.7em;
          display: block;

          img {
            vertical-align: middle;
          }
        }
      }
    }
  }

  > footer {
    border-top: solid $borderColour 1px;
    background-color: #333;

    line-height: 40px;
  }

  > aside {

    > header {
      background-color: white;
      border: solid $borderColour 1px;
      border-radius: 0.5em;
      padding: 0 1em;

      h1 {
        font-size: 2rem;
      }
    }

    > * {
      margin-bottom: 1em;
    }
  }

}

main {
  grid-area: main;

  padding: 1em 1em 0 1em;

  > * {
    max-width: 50vw;
    margin-bottom: 1em;
  }

}

nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
  }

  /* make children fill up the space */
  li > * {
    flex: 1 1 auto;
  }
  /* ASSUME pill is last child */
  li > *:last-child {
    text-align: right;
  }

  a, span {
    margin: 0;
    padding: 0.5em 0.75em;
    display: inline-block;
  }
  a {
    flex: 1 1 auto;
  }

  /* pills */
  small {
    background-color: $borderColour;
    color: white;
    padding: 0.25em 0.5em;
    border-radius: 1em;
    margin: 0;
  }
}

section, article {
  border: solid $borderColour 1px;
  border-radius: 0.5em;
  background-color: white;
  padding: 1em;
}

article {
  > header {
    border-bottom: solid $borderColour 1px;

    h2 {
      font-size: 2em;
    }

    div {
      text-align: right;
    }
  }

  > footer {
    border-top: solid $borderColour 1px;
    padding: 0.5em;
  }

}


table {
  border-spacing: 0.5em;

  th {
    padding: 0.5em;
    border-bottom: solid $borderColour 1px;
  }

  tbody {
    tr:hover {
      background-color: #ccc !important;
    }
    tr:nth-of-type(2n) {
      background-color: #eee;
    }
  }
}

p {
  margin: 0 0 1em 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

a[href^="https://"],
a[href^="http://"] {
  outline: dotted 1px;
}
a[href^="https://"]:before,
a[href^="http://"]:before {
  content: '\1f517';
}

.warning {
  color: #f44;
}
.booyah {
  background-color: #cfc;
  text-align: center;
  padding: 1em;
}
.deploy {
  background-color: #8f8;
}

.admonition {
  padding: 1em;

  .admonition-title { font-weight: bold; }
}

pre {
  background-color: #ccf;
  padding: 1em;
  line-height: 1.5em;
  font-weight: bolder;
  white-space: pre-wrap;

  code {
    background-color: transparent;
  }
}

code {
  background-color: #cff;
}

dl { line-height: 1.5; }
dt { font-weight: bold; }

/* for markdown [TOC] */
.toc {

  ul {
    list-style: none;
    line-height: 1.5em;
  }

}


@media (max-width: 850px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "main"
      "sidebar"
      "offbar"
      "footer"
    ;

    > header {
      > nav {
        position: relative;
        > ul {
          position: absolute;
          right: 0;
          width: 50vw;
          display: inline-block;
          background-color: #333;

          li {
            display: list-item;
          }
        }

        label::before {
          display: inline;
          content: '\2630'
        }

        input[type=checkbox] ~ ul {
          display: none;
        }
        input[type=checkbox]:checked ~ ul {
          display: block;
        }
      }
    }

    > aside {
      &.left, &.right {
        padding: 1em 1em 0 1em;
      }
    }
  }

  main > * {
    max-width: unset;
  }

}
