{% extends "default.html" %}

{% block sidebar %}
<!-- Links -->
<section>
  <header>
    <h2>Tags</h2>
  </header>
  <ul class="posts">
{% for tag in site.pages["blog/tags.yml"].tag_counts.most_common() %}
    <li>
      <article>
        <header>
          <a href="/blog/tags/{{ tag[0] }}.html">
            <h3>{{ tag[0] }}</h3>
            <p>{{ tag[1] }} posts.</p>
          </a>
        </header>
      </article>
    </li>
{% endfor %}
  </ul>
</section>
{% endblock %}

{% block content %}
<!-- Post -->
{% for post in site.content["menu/blog.yml"].pages %}
  <article class="post">
    <header>
      <div class="title">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <!-- <p>byline</p> -->
      </div>
      <div class="meta">
        <time class="published" datetime="{{ post.date }}">{{ post.date.strftime("%a, %d %b %Y") }}</time>
        <!-- <a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a> -->
      </div>
    </header>
    <a href="single.html" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
    <p>{{ shorten(post.content, 1000) }}</p>
    <footer>
      <ul class="actions">
        <li><a href="{{ post.url }}" class="button large">Continue Reading</a></li>
      </ul>
      <!-- <ul class="stats">
        <li><a href="#">General</a></li>
        <li><a href="#" class="icon fa-heart">28</a></li>
        <li><a href="#" class="icon fa-comment">128</a></li>
      </ul> -->
    </footer>
  </article>
  {% endfor %}
  <!-- Pagination -->
  <ul class="actions pagination">
    <li><a href="" class="disabled button large previous">Previous Page</a></li>
    <li><a href="#" class="button large next">Next Page</a></li>
  </ul>

{% endblock %}
