{% extends "default.html" %}

{% block sidebar %}
<!-- Links -->
<section>
  <header>
    <h2>Tags</h2>
  </header>
  <nav>
    <ul>
  {% for tag in site.pages["blog/tags.yml"].tag_counts.most_common() %}
      <li>
          <a href="/blog/tags/{{ tag[0] }}.html">{{ tag[0] }}</a>
          <span><small>{{ tag[1] }} posts</small></span>
      </li>
  {% endfor %}
    </ul>
  </nav>
</section>
{% endblock %}

{% block content %}

{% for post in site.content["menu/blog.yml"].pages %}
  {% include "blog/post_list.html" %}
{% endfor %}

{% endblock %}
