<!DOCTYPE HTML>
<html lang="en_AU">
<head>
	<title>{{ sitename }} - {% block title %}{% endblock %}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/favicon.png" type="image/png">
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<header>
		<div>
			<ul>
				<li><a href="/index.html"><img src="/images/logo.png" alt="logo"> {{ sitename }} </a></li>
			</ul>
		</div>
		<div>
			{% include "menu.html" pages=site.content['menu/main.yml'].pages %}
		</div>
	</header>

	<aside class="left">
		<header>
			<h1> {{ this.title }} {% block subtitle %}{% endblock %} </h1>
{% if this.date %}
			<p>
				Published: <time class="published" datetime="{{ this.date }}">{{ this.date.strftime("%a, %d %b %Y") }}</time>
			</p>
{% endif %}
		</header>

		<section>
			<header>
				<h2> About </h2>
			</header>
			<p>Hi!</p>
			<p>I'm <strong>FunkyBob</strong>, also known as <small>Curtis Maloney</small>.</p>
			<p>Contained herein are some things I thought important enough to write about.</p>
		</section>

		{% block sidebar %}{% endblock %}

	</aside>

	<aside class="right">

		<section>
			<header>
				<h2> Donations </h2>
			</header>
			<p> Did I make your life easier? </p>
			<p> Feeling generous? </p>
			<p> <a href="https://paypal.me/FunkyBob">Maybe throw me a few bucks! :)</a> </p>
		</section>

		{% block offbar %}{% endblock %}
	</aside>

	<main>
{% block content %}
		<section> {{ safe(this.content) }} </section>
{% endblock %}
	</main>

</body>
</html>
